.htmlobject_tab_box {
	width:700px;
}
.htmlobject_td {
	padding:5px !important;
}
.htmlobject_td.event_priority {
	text-align:center;
	width:25px;
	vertical-align:top;
}
.htmlobject_td.event_id {
	text-align:center;
	width:25px;
	vertical-align:top;
}
.htmlobject_td.event_time {
	text-align:left;
	width:110px;
	vertical-align:top;
}
.htmlobject_td.event_source {
	text-align:left;
	width:110px;
	vertical-align:top;
}
.htmlobject_td.event_description {
	text-align:left;
	width:320px;
	vertical-align:top;
}
.htmlobject_td.identifier {
	text-align:center;
	vertical-align:top;
}

.tr_hover {
background-color:#eee;
}
.tr_click {
background-color:#ddd;
}
