.htmlobject_tab_box {
	width:750px;
}
.htmlobject_td {
	padding:5px !important;
}
.htmlobject_td.resource_id {
	text-align:center;
	width:25px;
	vertical-align:bottom;
}
.htmlobject_td.resource_hostname {
	text-align:left;
	width:110px;
	vertical-align:bottom;
}
.htmlobject_td.resource_mac {
	text-align:left;
	width:110px;
	vertical-align:bottom;
}
.htmlobject_td.resource_type {
	text-align:left;
	width:150px;
	vertical-align:bottom;
}
.htmlobject_td.resource_ip {
	text-align:left;
	width:110px;
	vertical-align:bottom;
}

.htmlobject_td.resource_memtotal {
	text-align:left;
	width:110px;
	vertical-align:bottom;
}
.htmlobject_td.resource_load {
	text-align:left;
	width:50px;
	vertical-align:bottom;
}
.htmlobject_td.identifier {
	text-align:center;
	vertical-align:bottom;
}

.tr_hover {
background-color:#eee;
}
.tr_click {
background-color:#ddd;
}
