Dear @@FORENAME@@ @@LASTNAME@@,

Please activate your account at the openQRM Cloud portal by visiting the URL below :

	@@EXTERNALPORTALNAME@@

Your Cloud User ID is : @@ID@@
Your secret Token to activate the account is : @@TOKEN@@

your openQRM Cloud
