Dear Cloudadmin,

the @@RESNUMBER@@. resource from the Cloud request @@ID@@ has been provisioned in the openQRM Cloud.
Your system is now starting and active until @@STOP@@.

	Ip-address : @@IP@@
	User: root
	Password : @@PASSWORD@@

your openQRM Cloud

