Dear @@FORENAME@@ @@LASTNAME@@,

Please activate your account at the openQRM Cloud portal by visiting the URL below :

	http://@@OPENQRM_SERVER_IP_ADDRESS@@/cloud-portal/index.php?action=activate&i=@@ID@@&token=@@TOKEN@@

your openQRM Cloud
