Dear @@FORENAME@@ @@LASTNAME@@,

the @@RESNUMBER@@. resource from your Cloud request @@ID@@ has been provisioned in the openQRM Cloud.
Your system is now starting and soon ready for you until @@STOP@@.

	Ip-address : @@IP@@
	User: root
	Password : @@PASSWORD@@

your openQRM Cloud
