Dear @@FORENAME@@ @@LASTNAME@@,

your Cloud request @@ID@@ has been approved for deployment in the openQRM Cloud.
Your system will be ready at @@START@@ and reservered for you until @@STOP@@.
An email with the login details will be sent out at the requested start time.

your openQRM Cloud
