Dear @@FORENAME@@ @@LASTNAME@@,

your Cloud request @@ID@@ has been denied for provisioning in the openQRM Cloud.
(Eventually you have already reached the maximum number of active appliances)

your openQRM Cloud
