Dear @@FORENAME@@ @@LASTNAME@@,

sorry, but there are currently not enough resources available to provision @@YOUR@@ @@RESNUMBER@@. system of @@YOUR@@ Cloud request @@ID@@.
Please try again later.

your openQRM Cloud
