Dear @@FORENAME@@ @@LASTNAME@@,

an account at the openQRM Cloud portal has been created.

You can now login to :

	@@EXTERNALPORTALNAME@@

	Username : @@USER@@
	Password : @@PASSWORD@@

To request new systems from the openQRM Cloud you need to have "Cloud Computing Units" (CCU's). CCU's are the the virtual currency of the billing mechanism in the Cloud.

To get CCU's please contact :

	@@CLOUDADMIN@@

We are looking forward to hear from you and to provide CCU's for your test-drive.

your openQRM Cloud
