Dear @@FORENAME@@ @@LASTNAME@@,

an account at the openQRM Cloud portal has been created.
You can now login to :

	http://@@OPENQRM_SERVER_IP_ADDRESS@@/cloud-portal

	Username : @@USER@@
	Password : @@PASSWORD@@

to request new systems from the openQRM Cloud.

your openQRM Cloud
