Dear @@FORENAME@@ @@LASTNAME@@,

an password on the openQRM Cloud portal has been reseted.
You can now login again to :

	@@EXTERNALPORTALNAME@@

	Username : @@USER@@
	Password : @@PASSWORD@@

to request new systems from the openQRM Cloud.

your openQRM Cloud
