Source: openqrm
Section: admin
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 6.0.7~), libpci-dev, portmap, rsync, zlib1g-dev, wget, bzip2, cdbs, unzip, module-init-tools, udev, quilt
Standards-Version: 3.8.2
Homepage: http://www.openqrm.org

Package: openqrm-entire
Architecture: any
Depends: ${misc:Depends}, openqrm, openqrm-plugins
Description: Cloud Computing Platform
 openQRM is a fully automated, rapid deployment system including
 VM-Management, Monitoring, High-Availability and Storage-Management.
 It provides a plug-able open-source Cloud Computing platform.
 This metapackage includes all available openQRM plugins.

Package: openqrm-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openqrm, stunnel, expect
Description: Cloud Computing Platform
 openQRM is a fully automated, rapid deployment system including
 VM-Management, Monitoring, High-Availability and Storage-Management.
 It provides a plug-able open-source Cloud Computing platform.
 This package contains additional openQRM plugins.

Package: openqrm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, apache2, php5, php5-mysql, libphp-adodb, mysql-server, mysql-client, syslinux, dropbear, python, tftpd-hpa, dhcp3-server, screen, nagios-images, nagios-plugins, nmap, default-mta | mail-transport-agent, libxml-simple-perl, open-iscsi, aoetools, openssl, rsync, expect, puppetmaster, subversion, bind9
Description: Cloud Computing Platform
 openQRM is a fully automated, rapid deployment system including
 VM-Management, Monitoring, High-Availability and Storage-Management.
 It provides a plug-able open-source Cloud Computing platform.
