Source: openqrm
Section: admin
Priority: extra
Maintainer: Thomas Halinka <mail@thohal.de>, Martin Alfke <martin@ppcnux.de>
Build-Depends: debhelper (>= 5), make, gcc, libpci-dev, portmap, rsync, zlib1g-dev, wget, tar, bzip2, cdbs, patch
Standards-Version: 3.7.2

Package: openqrm
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, apache2, php5, php5-mysql, libphp-adodb, mysql-server, mysql-client-5.0, syslinux 
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: openqrm-entire
Architecture: i386
Depends: openqrm, openqrm-plugin-lvm-storage, openqrm-plugin-local-server, openqrm-plugin-highavailability, openqrm-plugin-local-storage, openqrm-plugin-tftpd, openqrm-plugin-vmware-server, openqrm-plugin-netapp-storage, openqrm-plugin-dhcpd, openqrm-plugin-nfs-storage, openqrm-plugin-iscsi-storage, openqrm-plugin-sshterm, openqrm-plugin-xen, openqrm-plugin-aoe-storage, openqrm-plugin-citrix, openqrm-plugin-cloud, openqrm-plugin-dns, openqrm-plugin-image-shelf, openqrm-plugin-kvm, openqrm-plugin-puppet, openqrm-plugin-vmware-esx, openqrm-plugin-vmware-server2, openqrm-plugin-windows, openqrm-plugin-linuxcoe
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>


Package: openqrm-plugin-lvm-storage
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openqrm, openqrm-server, aoetools, open-iscsi
Description: This openQRM plugin integrates lvm-storage
 The lvm-storage plugin transforms a standard Linux-box into a rapid-fast-cloning storage-server

Package: openqrm-plugin-image-shelf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openqrm, openqrm-server, screen
Description: This openQRM plugin integrates image-shelf
 This openQRM provides an easy way to add pre-made server-images to openQRM.

Package: openqrm-plugin-dhcpd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openqrm, dhcp3-server, openqrm-server
Description: This openQRM plugin integrates dhcpd
 The dhcpd-plugin automatically manages your ip-address assignment and network-boot environemnt for the rapid-deployment features of openQRM.

Package: openqrm-plugin-citrix
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openqrm, openqrm-server, stunnel
Description: This openQRM plugin integrates citrix
 The Citrix plugin manages Citrix-Xen server.

Package: openqrm-plugin-vmware-server2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openqrm, openqrm-server, screen
Description: This openQRM plugin integrates vmware-server2
 This openQRM plugin integrates the VMware-server2 virtualization technology.

Package: openqrm-plugin-dns
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openqrm, bind9, openqrm-server
Description: This openQRM plugin integrates dns
 The dns-plugin automatically manages ip-address to hostname resolving for the entire openQRM-network.

Package: openqrm-plugin-xen
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openqrm, openqrm-server, screen
Description: This openQRM plugin integrates xen
 This openQRM plugin integrates the Xen virtualization technology.

Package: openqrm-plugin-tftpd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openqrm, tftpd-hpa, openqrm-server
Description: This openQRM plugin integrates tftpd
 The tftpd-plugin automatically manages to upload kernels to the resources (servers) managed by openQRM.

Package: openqrm-plugin-nagios3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openqrm, nagios-images, nagios-plugins, nmap, screen, postfix, openqrm-server
Description: This openQRM plugin integrates nagios3
 The nagios3-plugin automatically monitors the systems and services managed by the openQRM-server.

Package: openqrm-plugin-nagios2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openqrm, nagios-images, nagios-plugins, nmap, screen, postfix, openqrm-server
Description: This openQRM plugin integrates nagios2
 The nagios2-plugin automatically monitors the systems and services managed by the openQRM-server.

Package: openqrm-plugin-windows
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openqrm, openqrm-server,samba
Description: This openQRM plugin integrates windows
 The Windows plugin manages Windows-Server.

Package: openqrm-plugin-sshterm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openqrm, openssl, screen, openqrm-server
Description: This openQRM plugin integrates sshterm
 The sshterm-plugin integrates ajaxterm into openQRM and provides a secure login to the openQRM-server and the managed resources through the Web-interface.

Package: openqrm-plugin-kvm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openqrm, openqrm-server
Description: This openQRM plugin integrates kvm
 This openQRM plugin integrates the KVM virtualization technology.

Package: openqrm-plugin-solx86
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openqrm, openqrm-server
Description: This openQRM plugin integrates solx86
 The solx86-plugin provides an integration for already existing, local-installed openSolaris/Solaris X86 systems in openQRM.

Package: openqrm-plugin-vmware-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openqrm, openqrm-server
Description: This openQRM plugin integrates vmware-server
 This openQRM plugin integrates the VMware-server virtualization technology.

Package: openqrm-plugin-cloud
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openqrm, openqrm-server, screen
Description: This openQRM plugin integrates cloud
 The openQRM cloud-plugin provides a fully automated request and provisioning deployment-cycle.

Package: openqrm-plugin-iscsi-storage
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openqrm, openqrm-server, open-iscsi
Description: This openQRM plugin integrates iscsi-storage
 This openQRM plugin integrates Iscsi storage server and features the capability to boot resources directly from the Iscsi-Target.

Package: openqrm-plugin-puppet
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openqrm, openqrm-server, screen, puppetmaster, subversion
Description: This openQRM plugin integrates puppet
 The openQRM puppet-plugin provides an fully automated configuration management for the appliances.

Package: openqrm-plugin-local-storage
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openqrm, openqrm-server
Description: This openQRM plugin integrates local-storage
 The Local-storage plugin adds support to deploy server-images to local-harddisk on the resources to openQRM.

Package: openqrm-plugin-linuxcoe
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openqrm, openqrm-server, screen
Description: This openQRM plugin integrates linuxcoe
 This openQRM provides fully automatic installations via LinuxCOE.

Package: openqrm-plugin-local-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openqrm, openqrm-server
Description: This openQRM plugin integrates local-server
 The local-server-plugin provides an integration for already existing, local-installed systems in openQRM.

Package: openqrm-plugin-highavailability
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openqrm, openqrm-server
Description: This openQRM plugin integrates highavailability
 The highavailability-plugin automatically provides high-availability for the appliances managed by openQRM.

Package: openqrm-plugin-zfs-storage
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openqrm, openqrm-server, open-iscsi
Description: This openQRM plugin integrates zfs-storage
 This openQRM plugin integrates ZFS storage server and features the capability to boot from the ZFS Iscsi-Target.

Package: openqrm-plugin-netapp-storage
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openqrm, openqrm-server, open-iscsi, expect
Description: This openQRM plugin integrates netapp-storage
 The NetApp-storage plugin integrates NetApp-Filer Storage systems into openQRM.

Package: openqrm-plugin-nfs-storage
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openqrm, openqrm-server
Description: This openQRM plugin integrates nfs-storage
 This openQRM plugin integrates NFS storage server and features the capability to boot resources directly from the NFS-storage.

Package: openqrm-plugin-equallogic-storage
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openqrm, openqrm-server, open-iscsi
Description: This openQRM plugin integrates equallogic-storage
 This openQRM plugin integrates Iscsi storage server and features the capability to boot resources directly from the Iscsi-Target.

Package: openqrm-plugin-vmware-esx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openqrm, openqrm-server, screen
Description: This openQRM plugin integrates vmware-esx
 This openQRM plugin integrates the VMware-ESX virtualization technology.

Package: openqrm-plugin-zabbix
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openqrm, openqrm-server
Description: This openQRM plugin integrates zabbix
 The zabbix-plugin automatically monitors the systems and services managed by the openQRM-server.

Package: openqrm-plugin-aoe-storage
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openqrm, openqrm-server, aoetools
Description: This openQRM plugin integrates aoe-storage
 This openQRM plugin integrates Aoe/Coraid storage server and features the capability to boot resources directly from the Aoe-storage.
