host SANBOOT_RESOURCE_HOSTNAME {
    # sanboot aoe
	hardware ethernet SANBOOT_RESOURCE_MAC;
	fixed-address SANBOOT_RESOURCE_IP;
    if exists user-class and option user-class = "gPXE" {
        filename "";
        option root-path "aoe:SANBOOT_DEVICE";
    } else {
        filename "undionly.kpxe";
    }
}
