.htmlobject_td {
	padding:5px !important;
}
.htmlobject_td.appliance_icon {
	text-align:left;
	vertical-align:top;
}
.htmlobject_td.appliance_state {
	text-align:left;
	vertical-align:top;
}
.htmlobject_td.appliance_id {
	text-align:center;
	width:25px;
	vertical-align:top;
}
.htmlobject_td.appliance_name {
	text-align:left;
	width:110px;
	vertical-align:top;
}
.htmlobject_td.appliance_kernelid {
	text-align:left;
	width:110px;
	vertical-align:top;
}
.htmlobject_td.appliance_imageid {
	text-align:left;
	width:110px;
	vertical-align:top;
}
.htmlobject_td.appliance_resources {
	text-align:left;
	width:200px;
	vertical-align:top;
}
.htmlobject_td.appliance_values {
	text-align:left;
	width:300px;
	vertical-align:top;
	white-space:nowrap;
}
.htmlobject_td.appliance_comment {
	text-align:left;
	width:300px;
	vertical-align:top;
}


.htmlobject_td.identifier {
	text-align:center;
	vertical-align:top;
}

.htmlobject_box textarea {
	width: 650px;
	height: 50px;
}
